* 
{
    box-sizing: border-box;
}

.form
{
    display: flex;
    max-width: 1200px;
    padding: 52px 59px;
}

.form__text
{
    width: 100%;
    max-width: 480px;
    margin-right: 53px;
    padding: 20.5px 28px;
    border: 1.34888px solid #C0C0C0;
    border-radius: 4px;
    font: normal 500 18px var(--font-family-header);
}

.form__submit 
{
    width: 100%;
    max-width: 480px;
    padding: 20.5px 0;
    border: 1.34888px solid #C0C0C0;
    border-radius: 4px;
    background-color: var(--color-block);
    color: var(--color-background);
    font: normal 500 18px var(--font-family-header);
}